/* TODO Add site wide styles */
.navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 10px;
    padding: 15px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    list-style-type: none;
    border-bottom: 3px solid white;
    margin-bottom: 5px;
    /* background-color: black; */
}

a:visited{
    color: white;
}

.OELogo-nav{
    height: 100px;
    width: auto;
    justify-content: start;
  }

html, body{
    background-color: black;
    color: white;
}
