/* TODO Add site wide styles */
.navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 10px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    /* font-style: oblique; */
    font-weight: bold;
    letter-spacing: 1px;
    list-style-type: none;
    border-top: 10px double red;
    border-bottom: 10px double red;
    margin-bottom: 30px;
    /* background-color: black; */
}

.navlink-container {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a:visited{
    color: white;
    text-decoration: none;
    font-variant: small-caps;
}
a.active-nav{
    text-decoration: none;
    font-variant: small-caps;
    font-size: large;
}

.OELogo-nav{
    height: 125px;
    width: auto;
    justify-content: start;
  }

html, body{
    background-color: black;
    color: white;
}

/* .active-nav{
    text-decoration: none;
} */
