.dealership-img-img{
    width: 350px;
    height: auto;
}

.dealership-img-container{
    display: flex;
    margin: 30px;
    border: lightgray solid;
}

.dealership-img-name{
    margin-left: 20px;
}

.dealership-img-name_bio{
    margin-top: 20px;
    margin-bottom: 20px;
}
