.login-form-container-main{
    height: 1000px;
    width: 100%;
    padding: 0;
    margin: 0;
    background: url("../imagesf/loginsignup.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 310px;
}

.login-form-title{
    /* font-size: xxx-large; */
    font-size: x-large;
}

.OELogoW{
    height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
