.login-form-container-main{
    height: 900px;
    background-image: url("../imagesf/loginsignup.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 450px;
    /* background-image: url("../imagesf/loginsignup.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

.login-form-title{
    font-size: xxx-large;
}
