.signup-form-container-main{
    /* height: 900px;
    background-image: url("../imagesf/loginsignup.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover; */
    height: 900px;
    width: 100%;
    padding: 0;
    margin: 0;
    background: url("../imagesf/loginsignup.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.signup-form-container{
    /* border: 1px solid lightgray; */

    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 2%;
}

.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form-input {
    height: 25px;
    margin: 5px;
    background-color: lightgray;
    border: 1px solid lightgray;
    margin-bottom: 5px;
    border-radius: 5px;
}

.errors-div>p{
    color: red;
    margin-top: 0px;
    margin-bottom: 10px;
}

/* .sign-up-container > {
justify-content: center;
}

.form-group{
    padding-top: 20px;
    padding-bottom: 20px;
} */
