/* html.signup-container{
    display: flex;
    justify-content: center;
} */


.signup-form-container{
    /* border: 1px solid lightgray; */

    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 2%;
}

.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form-input {
    height: 25px;
    margin: 5px;
    background-color: #e7f0fe;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* .sign-up-container > {
justify-content: center;
}

.form-group{
    padding-top: 20px;
    padding-bottom: 20px;
} */
